[data-md-color-scheme='astecas'] {
  --md-primary-fg-color: #422682;
  --md-accent-fg-color: #44CCCC;
}

.md-typeset__scrollwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.md-typeset__table {
  min-width: 90%;
}

.md-typeset table:not([class]) {
 display: table;
}


@media only screen and (max-width: 500px) {
.md-typeset__table table thead th:first-child {
  width: auto;
}
}

ins code {
color: #422682 !important;
}

a.md-nav__link--active {
border-left: 4px solid #422682;
padding-left: 4px;
font-weight: bold;
}

a.md-nav__link--active:hover {
border-color: #44CCCC;
}

.md-header-nav__button.md-logo img {
  width: 2rem;
  height: 2rem;
  margin-top: -9px;
}

@media only screen and (max-width: 1220px) {
  .md-nav--primary .md-nav__title[for=__drawer] .md-nav__button {
    padding: 0;
  }
} 